Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.scc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.zip
*.rar
*.cd
*.docx
*.msi
*.exe
*.cab
*.ipch
*.sdf
[Pp]ackage*/
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/

!ReleasedLib/MAOP_PGE/*
!ReleasedLib/*
!ReleasedLib/ArcGIS102/*
!ThirdLib/*
LineEditor/My Project/licenses.licx
.vs/
DataLoader/My Project/licenses.licx
UpgradeLog.htm
